image: owncloud/server:{{ .Env.MANIFEST_VERSION }}
{{ if ne .Env.MANIFEST_TAGS "-" -}}
tags:
{{ range (.Env.MANIFEST_TAGS | strings.Split ",") -}}
  - {{ . }}
{{ end -}}
{{ end -}}
manifests:
  - image: owncloud/server:{{ if ne .Env.MANIFEST_VERSION "latest" }}{{ .Env.MANIFEST_VERSION }}-amd64{{ else }}amd64{{ end }}
    platform:
      architecture: amd64
      os: linux
  - image: owncloud/server:{{ if ne .Env.MANIFEST_VERSION "latest" }}{{ .Env.MANIFEST_VERSION }}-arm64v8{{ else }}arm64v8{{ end }}
    platform:
      architecture: arm64
      variant: v8
      os: linux
